# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.FintessApp.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\anjac\RiderProjects\FintessApp\.idea\.idea.FintessApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
